<section class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__nav">
        <nav class="nav">
          <a class="logo" href="/index.html" aria-label="'home' link">
            <svg class="logo__svg" width="127" height="20">
              <use href="/img/icons.svg#icon-logo"></use>
            </svg>
          </a>
          <ul class="nav__list">
            <li class="nav__item">
              <a
                class="nav__link"
                href="#about"
                aria-label="link to 'about' block"
                >About us</a
              >
            </li>
            <li class="nav__item">
              <a
                class="nav__link"
                href="#courses"
                aria-label="link to 'courses' block"
                >Our courses</a
              >
            </li>
            <li class="nav__item">
              <a
                class="nav__link"
                href="#mentors"
                aria-label="link to 'mentors' block"
                >Our mentors</a
              >
            </li>
            <li class="nav__item">
              <a
                class="nav__link"
                href="#reviews"
                aria-label="link to 'reviews' block"
                >Reviews</a
              >
            </li>
            <li class="nav__item">
              <a
                class="nav__link"
                href="#contacts"
                aria-label="link to 'contacts' block"
                >contacts</a
              >
            </li>
          </ul>
        </nav>
        <div class="header__mobile">
          <a
            class="header__mobile-link"
            href="#sign"
            aria-label="link to sign block"
          >
            <svg class="header__mobile-svg" width="16" height="16">
              <use href="/img/icons.svg#icon-sign" />
            </svg>
          </a>
          <button
            class="menu-btn js-open-menu"
            aria-label="button-menu"
            aria-expanded="false"
            aria-controls="mobile-menu"
          >
            <svg class="menu-btn__svg" width="32" height="32">
              <use href="/img/icons.svg#icon-menu"></use>
            </svg>
          </button>
        </div>
      </div>
      <a
        class="header__link btn btn-accent"
        href="#sign"
        aria-label="link to sign block"
        >sign up</a
      >
    </div>
  </div>
</section>
