<section class="mentors section" id="courses">
  <div class="container">
    <h2 class="mentors__title h2">Our <span>Mentors</span></h2>
    <ul class="mentors__list">
      <li class="mentors__item">
        <img
          class="mentors__img"
          src="/img/mentors/mentor-1@1x.png"
          srcset="
            /img/mentors/mentor-1@1x.png 1x,
            /img/mentors/mentor-1@2x.png 2x
          "
          width="180"
          height="180"
          alt="mentor's photo"
          loading="lazy"
        />
        <div class="mentors__item-content">
          <h3 class="mentors__item-title">Emilia Smith</h3>
          <p class="mentors__item-text">1.5 years of experience</p>
        </div>
      </li>

      <li class="mentors__item">
        <img
          class="mentors__img"
          src="/img/mentors/mentor-2@1x.png"
          srcset="
            /img/mentors/mentor-2@1x.png 1x,
            /img/mentors/mentor-2@2x.png 2x
          "
          width="180"
          height="180"
          alt="mentor's photo"
          loading="lazy"
        />
        <div class="mentors__item-content">
          <h3 class="mentors__item-title">Alex Lebedev</h3>
          <p class="mentors__item-text">3.5 years of experience</p>
        </div>
      </li>
      <li class="mentors__item">
        <img
          class="mentors__img"
          src="/img/mentors/mentor-3@1x.png"
          srcset="
            /img/mentors/mentor-3@1x.png 1x,
            /img/mentors/mentor-3@2x.png 2x
          "
          width="180"
          height="180"
          alt="mentor's photo"
          loading="lazy"
        />
        <div class="mentors__item-content">
          <h3 class="mentors__item-title">Mia Dubrovska</h3>
          <p class="mentors__item-text">2.0 years of experience</p>
        </div>
      </li>
      <li class="mentors__item">
        <img
          class="mentors__img"
          src="/img/mentors/mentor-4@1x.png"
          srcset="
            /img/mentors/mentor-4@1x.png 1x,
            /img/mentors/mentor-4@2x.png 2x
          "
          width="180"
          height="180"
          alt="mentor's photo"
          loading="lazy"
        />
        <div class="mentors__item-content">
          <h3 class="mentors__item-title">Eliot Kovalev</h3>
          <p class="mentors__item-text">4.0 years of experience</p>
        </div>
      </li>
    </ul>
  </div>
</section>
